page-novo-post {
    .black-text {
        // display: inline-block !important;
        // height: auto !important;
        // max-height: 25px !important;
        color: black !important;
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}