<ion-header>
    <ion-navbar>
        <ion-title>
            Timeline
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only solid on-click="goToNovoPostPage()">
              <ion-icon name="text"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding id="page2">
    <ion-list id="timeline-list8">
        <div *ngFor="let p of postList | async; let i = index">

            <ion-item color="none" no-lines>
                <ion-avatar item-left>
                    <img src="{{p?.user?.picData}}" />
                </ion-avatar>
                <h1 style="color:steelblue">{{p?.user.name}}</h1>
                <label style="color:steelblue" text-wrap>{{p?.text}}</label>
            </ion-item>
            <div *ngIf="p?.img != '' ">
                <ion-item no-lines>
                    <img src="{{p?.img}}" style="display: block; margin:auto; border-radius:15px" />
                </ion-item>
            </div>
            <div *ngIf="p?.visibility == true">
                <ion-item no-lines>
                    <button style="margin-left: 10px" ion-button (click)="share(p?.authorUserId, p?.uuid)" item-left>
                        <ion-icon name="share"></ion-icon>
                    </button>
                    <div *ngIf="p?.communicatorUserId != p?.authorUserId" item-right>
                        <h4 style="color:purple; margin-top: 8px; font-style: italic; font-display: bold; " item-right>por {{p?.authorUserName}}</h4>
                    </div>
                </ion-item>
            </div>
            <hr style="background-color:steelblue; height:2px;">
        </div>
    </ion-list>
</ion-content>